<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

    <div th:if="${currentUser != null}">
        <p>Full name: <span th:utext="${currentUser.getFullName()}">Users full name</span></p>
        <p>Login: <span th:utext="${currentUser.login}">Users login</span></p>
    </div>

    <div>
        <a th:href="@{/books}">
            Список книг
        </a>
    </div>

    <div>
        <a th:href="@{/authors}">
            Спиок авторов
        </a>
    </div>

    <div>
        <a th:href="@{/genres}">
            Список жанров
        </a>
    </div>

</body>
</html>