<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
<div>
    <form th:action="@{/register}" th:object="${userForm}" method="post">
        <label>Email:</label>
        <input type="email" th:field="*{email}">
        <label>Login:</label>
        <input type="text" th:field="*{login}">
        <label>Firstname:</label>
        <input type="text" th:field="*{firstname}">
        <label>Lastname:</label>
        <input type="text" th:field="*{lastname}">
        <label>Password:</label>
        <input type="password" th:field="*{password}">
        <button type="submit">Reg it!</button>
    </form>
</div>
</body>
</html>