<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>books</title>
</head>

<body>
<div>
    <div th:if="${isAuth == false}">
        <div>
            <a th:href="@{/login}">
                Log in
            </a>
        </div>

        <div>
            <a th:href="@{/register}">
                Sign up
            </a>
        </div>

    </div>

    <div>
        <a th:href="@{/books}">
            Список книг
        </a>
    </div>

    <div>
        <a th:href="@{/authors}">
            Спиок авторов
        </a>
    </div>

    <div>
        <a th:href="@{/genres}">
            Список жанров
        </a>
    </div>
</div>

<div>
        <p th:utext="${author}">Author's name</p>
    </div>

    <div>
        <p th:utext="${author.inform}">Author's inform block</p>
    </div>

    <div th:each="book : ${author.books}" style="margin: 30px; border: solid; background: #f0f0f0; width: 250px; display: inline-block">
        <div style="margin: 15px">
            <div>
                <a th:href="@{/book(id=${book.id})}"><span th:utext="${book.name}"></span></a>
            </div>

            <div>
                <span th:utext="${book.annotation}"></span>
            </div>

            <div>
                <span>Количество комментариев: <span th:utext="${book.comments.size()}"></span></span>
            </div>
        </div>
    </div>

</body>
</html>