<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>books</title>
    </head>

    <body>
    <div>
        <div th:if="${isAuth == false}">
            <div>
                <a th:href="@{/login}">
                    Log in
                </a>
            </div>

            <div>
                <a th:href="@{/register}">
                    Sign up
                </a>
            </div>

        </div>

        <div>
            <a th:href="@{/books}">
                Список книг
            </a>
        </div>

        <div>
            <a th:href="@{/authors}">
                Спиок авторов
            </a>
        </div>

        <div>
            <a th:href="@{/genres}">
                Список жанров
            </a>
        </div>
    </div>

    <div>
            <section th:each="author : ${authors}" style="margin: 30px; border: solid; background: #f0f0f0; width: 250px">
                <a th:href="@{/author(id=${author.id})}"><span th:utext="${author}" style="display: block; margin: 15px;">Name</span></a>
            </section>
        </div>
    </body>
</html>