<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>books</title>
</head>

<body>
    <div>
        <p th:utext="${author}"></p>
    </div>

    <section th:each="book : ${author.books}" style="margin: 30px; border: solid; background: #f0f0f0; width: 250px">
        <ul>
            <li>
                <a th:href="@{http://localhost:8080/books(id=${book.id})}"><span th:utext="${book.name}"></span></a>
            </li>

            <li>
                <span th:utext="${book.annotation}"></span>
            </li>

            <li>
                <span>Количество комментариев: <span th:utext="${book.comments.size()}"></span></span>
            </li>
        </ul>
    </section>

</body>
</html>